body {
	overflow-x: hidden;
}

.branding-inner {
	margin-top: 20px;
	background-color: white;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	align-items: center;
}
.course_name {
	font-size: 1.5rem;
	font-weight: 500;
	color: black;
	margin-bottom: 20px;
}

.date_course {
	font-size: 1rem;
}

.content {
	width: 90%;
	margin: 0 5%;
	border: 1px solid #929599;
	background-color: white;
	border-radius: 4px;
}

.content_text {
	padding: 20px;
}

.content_item {
	position: relative;
	background-color: white;
	padding: 20px;
	border-radius: 2px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn-mask {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.content_header {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	color: black;
	font-weight: 500;
	margin-bottom: 20px;
}

.content_progress {
	color: #1d7c50;
	font-size: 1rem;
	padding: 2px 6px;
	border-radius: 4px;
	background-color: #e1ece9;
}

.content-complete {
	display: flex;
	align-items: center;
	height: 37px;
}

.content-maskDone {
	position: absolute;
	bottom: 22px;
	margin-left: 160px;
	font-size: 1.2rem;
	background-color: transparent;
}

.content_progress span {
	margin-left: 6px;
}

.content_main {
	padding-bottom: 50px;
}

.content_main {
	width: 100%;
}

.container_content {
	display: flex;
	margin: 10px;
	flex-direction: column;
	justify-content: start;
}

.container-file {
	position: relative;
	padding: 20px;
	padding-bottom: 80px;
	border: 1px dashed #333;
	margin: 10px 20%;
	border-radius: 10px;
	display: flex;
}

.btn-create--file {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 100px;
}

.btn-edit--file {
	width: 58px;
	padding: 0;
}

/*.container_content p,
.container_content li {
    margin: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    text-align: left;
}*/
.nav-item {
	margin: 1px;
}

.container_content h6 {
	text-align: left;
}

.page-common {
	text-align: start;
	padding: 80px 20%;
	color: black;
	background-color: white;
}

.page-content-filter {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-select {
	max-width: 400px;
	border-radius: 10px;
}

.page-note-icon {
	text-align: center;
	margin-bottom: 20px;
}

.page-note-icon img {
	width: 80px;
}

.page-notice {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
}

.page-content-form {
	display: flex;
	height: 40px;
	max-width: 600px;
	margin-bottom: 40px;
	margin-top: 50px;
}

.page-content-form .form-control {
	flex: 1;
	margin-right: 10px;
}

.page-content-form .btn-primary {
	margin-right: 10px;
}

.page-title-item h6 {
	
}

.page-title-list {
	position: relative;
	margin-top: 30px;
}

.title-item {
	position: relative;
}

.title-item::before {
	position: absolute;
	top: -30px;
	left: 0;
	content: "";
	height: 1px;
	width: 100%;
	margin-top: 20px;
	background-color: #e5e7e8;
}

.nav-link {
	font-size: 0.9rem;
	color: white;
	padding: 6px;
}

.col-lg-9 {
	width: 100%;
}

.title-item {
	padding: 20px;
}

.title-item .title-hook {
	font-size: 1rem;
	font-weight: 500;
	color: #999;
}

.page-title-action {
	display: flex;
	margin-top: 10px;
}

.page-active {
	display: flex;
	margin-right: 20px;
	align-items: center;
	justify-content: space-around;
	width: 100px;
	color: blue;
}

.active {
	display: none;
}

.list_timer {
	height: 200px;
	overflow-y: auto;
}

.title-message {
	font-size: 30px;
	margin-left: -20px;
	margin-bottom: 10px;
	color: blueviolet;
}

.footer {
	width: auto;
}

.imgFile {
	height: 25px;
	width: 25px;
}