@charset "UTF-8";
body {
    margin: 0;
    text-align: center;
}

body.create-open {
    overflow: hidden;
}

.create-lesson {
    position: absolute;
    width: 100vw;
    display: none;
    /* top: 0; */
    left: 0;
    padding-top: 100px;
    z-index: 4; 
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow-y: auto;
    transition: all 0.3s ease-in 0.1s;
    /* pointer-events: none; */
}

.active {
    display: block;
}

.form-login-header {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.form_create {
    background-color: white;
    width: 80%;
    margin: auto;
    height: auto;
    border-radius: 6px;
    padding: 30px;
    text-align: start;
    overflow-y: auto;
    margin-bottom: 50px;
}

.form-login-input {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.form-login-input input {
    flex: 1;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 1rem;
    padding: 4px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #999;

}

.content-lesson h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-primary {
    margin-top: 20px;
}
.output {
  text-align: center;
  width: 100%;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  height:5px;
  width:80%;
  cursor: pointer;
  background: #07C;
  margin-bottom: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #07C;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]:focus {
  outline: none;
}

.form-progress{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}

.form-progress__item {
	flex: 1;
}