body {
    background-color: #eef2f8;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: black;
    font-size: 14px;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

h1,h2,h3,h4,h5 {
    margin-bottom: 0;
}

#page {
    background-color: white;

}

.header {
    height: 65px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e8ebed;
}

.nav {
    height: 100%;
}

.nav_item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    
}

.nav_link {
    width: 20%;
    list-style: none;

}

.nav_input {
    margin: auto;
    width: 30%;
    margin: 0 15%;
}

.nav_item_link {
    display: flex;
    text-decoration: none;
}

.nav_item_link div {
    font-size: 1.2rem;
    padding: 6px;
    background-color: #196eb2;
    font-weight: bold;
    border-radius: 4px;
    color: white;

}

.form-control,
.btn-outline-success {
    border-radius: 20px;
}

.nav_back {
    display: block;
}

.nav_link:last-child {
    display: flex;
    justify-content: end;
    
}

.nav_link .icon {
    margin-right: 20px;
    text-align: center;
    margin-top: 6px;
    font-size: 1.2rem;
}

.site_img img {
    height: 30px;
    border-radius: 50%;

}

.main {
    min-height: 650px;
    margin-top: 20px;
}

.content {
    display: grid;
    grid-template-columns: 6% auto 34%;
}

.sidebar {
    padding-left: 10px;
}

.sidebar_add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1473e6;
    border-radius: 50%;
    width: 60%;
    margin: 0 20%;
    height: 40px;
    margin-bottom: 20px;
    /* width: 52px;
    height: 52px; */
}

.sidebar_add span {
    font-size: 1.4rem;
    margin-bottom: 4px;
}

.sidebar_add {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.sidebar_link__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    margin: 0 4px;
    margin-bottom: 10px;
    width: 72px;
    height: 72px;
    color: black;
}

.sidebar_link__icon i {
    font-size: 1.2rem;
}

.sidebar_link__icon span {
    margin-top: 4px;
    font-size: 0.7rem;
    font-weight: 500;
}

.sidebar_link :hover,
.sidebar_link:focus-within {
    background-color: #e8ebed;
    border-radius: 10px;

}

.sidebar_icon {
    width: 100%;
}

.container {
    margin: 20px 10px 0  50px;
}

.course_des {
    margin-bottom: 10px;
    color: #757575;
}

.course_des__main {
    color: #0056d2;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 30px;

}

.course_detail h2 {
    margin-bottom: 20px;
}

.list_item {
    flex-basis: 50%;
    margin-bottom: 10px;
}

.info {
    width: 100%;
    position: relative;
    min-height: 600px;
}

.course_action {
    width: 90%;
    position: sticky;
    top: 100px;
    margin-bottom: 20px;
}

.course_info {
    width: 100%;
    background-color: #f2f6fd;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 32px -8px rgb(0 0 0 / 50%);
}

.road_line {
    width: 100%;
    border-bottom: 1px solid #525556;
    margin-bottom: 10px;
    margin-top: 10px;
}

.evaluate {
    display: flex;
    margin-bottom: 10px;
}

.evaluate span {
    margin-right: 10px;
    margin-left: 10px;
}

.evaluate i {
    margin-top: 2px;
    color: #0056d2;
}

.view_course {
    display: block;
    padding: 6px 0;
    font-size: 1rem;
    font-weight: 500;
}

.btn_action {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}

.btn_signin__course {
    margin: auto;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    font-size: 1.4rem;
}


/* FOOTER  */

.footer {
    width: 100vw;
    background-color: black;
    color: white;
}

.footer_list {
    padding: 60px 100px 40px 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.footer_item {
    padding: 10px;
    max-width: 400px;
}

.footer_column {
    color: #a9a485;
}

.footer_header {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
   text-transform: uppercase;
}

.footer_header h5 {
    color: white;
}

.nav_item_link {
    margin-right: 20px;
}

.footer_info {
    margin-left: 6px;
}

.footer_info a{
    color: #a9a485;
}

.footer_info li {
    margin-bottom: 5px;
}

.footer_nav {
    width: 100%;
    padding: 0 100px 50px 100px;
    display: flex;
    justify-content: space-between;
}

.footer_nav__info {
    color: #a9a485;
    font-size: 1.1rem;
}

.footer_nav__icon {
    margin-right: 10%;
    font-size: 1.6rem;
}

.footer_nav__icon i{
    margin: 0 4px;
}

.footer_nav__icon i:nth-child(1){
    color: red;
}

.footer_nav__icon i:nth-child(2){
    color: blueviolet;
}