/* Var */
:root {
    --background-header : #0a426e;
    --text-header-color: #b9c7b8;
    --background-primary: #196eb2;
    --border-button: #6c757d;
    --text-color: #6d727c;
}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-device-width: 1400px) {
    .col-2 {
        width: 20%;
    }

    .col-10 {
        width: 80%;
        margin-left: 20%;

    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-device-width: 1200px) and (max-device-width:1399px) { 
    .col-2 {
        width: 25%;
    }

    .col-10 {
        width: 75%;
        margin-left: 25%;

    }
    
    .card_group {
    width: 300px;
    margin: 15px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-device-width: 992px)and (max-device-width:1199px) { 
    .col-2 {
        width: 25%;
    }

    .col-10 {
        width: 75%;
        margin-left: 25%;

    }

    .page_content {
        display: grid;
        grid-template-columns: 99% 0%;
    }
    .card_deck {
        justify-content: center;
    }
    
    .card_group {
    width: 300px;
    margin: 15px;
    }
    
 }
  
 /* // Medium devices (tablets, 768px and up) */
@media only screen and (min-device-width: 768px)and (max-device-width:991px) {
    .col-2 {
        width: 30%;
    }
    .col-10 {
        width: 70%;
        margin-left: 30%;

    }

    .page_content {
        display: grid;
        grid-template-columns: 99% 0%;
    }
    .card_deck {
        justify-content: center;
    }
    
    .card_group {
    width: 300px;
    margin: 15px;
    }

 }

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-device-width: 576px) and (max-device-width:767px){
    .col-2 {
        width: 30%;
    }

    .col-10 {
        width: 70%;
        margin-left: 30%;
    }

    .page_content {
        display: grid;
        grid-template-columns: 99% 0%;
    }
    .card_deck {
        justify-content: center;
    }
    
   .card_group {
    width: 300px;
    margin: 15px;
    }
 }
 
 @keyframes headerNotifygrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/* 
@media only screen and (max-device-width: 320px){
    .col-2 {
        width: 25%;
    }

    .col-10 {
        width: 75%;
    }
} */

body {
    background-color: #eef2f8;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /* color: #6d727c; */
    color: black;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.col-10 {
    min-height: 500px;
    padding-left: 0;
}

.row {
    min-height: 500px;
}
.p-thongbao
{
  margin-right:15px
}
.col-2 {
    padding-right: 0;
    background-color: white;
    position: fixed;
    top: 50px;
    min-height: 700px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.btn {
    border: 1px solid var(--border-button);
}